<div class="login-form">
  <h2>Login</h2>
  <form [formGroup]="authForm">
    <mat-form-field appearance="fill">
      <mat-label>Login</mat-label>
      <input matInput formControlName="login" required />
      <mat-error *ngIf="login.errors?.['required']"
        >Please enter a login email</mat-error
      >
      <mat-error *ngIf="login.errors?.['email']"
        >The login email is invalid</mat-error
      >
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" required />
      <mat-error *ngIf="password.errors?.['required']"
        >Please enter a password</mat-error
      >

      <mat-error
        *ngIf="
          password.hasError('minlength') ||
          password.hasError('invalidUpperLowerMix') ||
          password.hasError('invalidLettersNumbersMix') ||
          password.hasError('invalidSpecials')
        "
        >Your password isn't strong enough
        <ul>
          <li *ngIf="password.hasError('minlength')">at least 8 characters</li>
          <li *ngIf="password.hasError('invalidUpperLowerMix')">
            a mixture of both uppercase and lowercase letters
          </li>
          <li *ngIf="password.hasError('invalidLettersNumbersMix')">
            a mixture of letters and numbers
          </li>
          <li *ngIf="password.hasError('invalidSpecials')">
            inclusion of at least one special character, e.g., ! @ # ? ]
          </li>
        </ul>
      </mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      (click)="onLogin()"
      [disabled]="!authForm.valid"
    >
      Submit
    </button>
  </form>
</div>
