@use "@angular/material" as mat;

@use "./styles/theme/youtube-theme";

@include mat.core();

// Theme Init
@include mat.all-component-themes(youtube-theme.$theme);

// @include mat.core-theme(youtube-theme.$theme);
// @include mat.button-theme(youtube-theme.$theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px;
}
