@mixin container {
  max-width: 1200px;
  margin: 0 auto;
}

@mixin movie-color($color) {
  .mat-mdc-raised-button:not(:disabled) {
    background-color: opacify($color, 0.75);
  }
  .movie-shadow {
    filter: drop-shadow(5px 10px 10px $color);
  }
  .movie-details {
    border-color: opacify($color, 0.75);
  }
  .movie-back_link {
    filter: drop-shadow(-2px 2px 4px $color);
  }
}

@mixin movie-border-color($color){
  border-color: opacify($color, 0.75);
}

@mixin form-block {
  margin: 2rem auto;
  background-color: #F2F2F2;
  width: fit-content;
  max-width: 22rem;
  padding: 1rem 2rem 2rem;
  box-sizing: border-box;
  border-radius: 5px;
}
