<div class="container">
  <section
    *ngIf="movie; else notfound"
    class="movie"
    appColored
    date="{{ movie.snippet.publishedAt }}"
  >
    <div class="movie-back">
      <button
        mat-raised-button
        color="accent"
        (click)="goBack()"
        class="movie-back_link"
      >
        <i class="fa-solid fa-chevron-left"></i>
      </button>
    </div>

    <div class="movie-shadow">
      <div class="movie-img">
        <img
          src="{{
            movie.snippet.thumbnails.standard?.url ||
              movie.snippet.thumbnails.high?.url
          }}"
          class="movie-img_img"
        />
      </div>
      <div class="movie-details">
        <div class="movie-details_header">
          <h2 class="movie-title">{{ movie.snippet.title }}</h2>
          <p class="movie-date">{{ movie.snippet.publishedAt | date }}</p>
        </div>
        <p class="movie-description_title" *ngIf="movie.snippet.description">
          Description:
        </p>
        <p class="movie-description">{{ movie.snippet.description }}</p>
        <app-movie-statistic
          [statistic]="movie.statistics"
        ></app-movie-statistic>
      </div>
    </div>
  </section>
  <ng-template #notfound>
    <p class="message">Nothing found</p>
  </ng-template>
</div>
