.sort {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  &-title {
    color: #929292;
  }

  &-params {
    display: flex;
    gap: .7rem;
  }

  .mat-sort-header-arrow {
    margin-left: .08rem;
  }
}