.sort {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  padding: 2rem 0 0;

  &-title {
    color: #929292;
  }

  &-params {
    display: flex;
    gap: 1rem;
  }
}

.show {
  display: flex;
}
