.search-form {
  display: flex;
  align-items:baseline;
  justify-content: center;

  .mdc-text-field {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) {
    .mat-mdc-form-field-infix {
      min-height: 24px;
      padding: 0.3rem 0;
    }
  }

  .mat-mdc-raised-button{
    height: auto;
    min-height: 24px;
    padding: .2rem;
    margin: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 12px;
  }

  .mdc-line-ripple, .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  
}

