@use "../../../../styles/theme/youtube-theme";
@import "../../../../styles/mixin/mixins";

.header {
  padding: 1rem 2rem;
  background-color: #e5e5e5;

  &-container {
    @include container;
  }

  &-wrapper {
    position: relative;
    margin: 0 2rem;
  }

  &-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;

    .mdc-button--raised {
      height: auto;
      min-width: 1.5rem;
      padding: 0;
      margin: 0;
      line-height: normal;
      min-height: 1.5rem;
      border-radius: 5px;

      .fa-sliders {
        font-size: 0.94rem;
        line-height: 1.2rem;
      }
    }
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }  

  &-icon {
    color: youtube-theme.$accent-color;
    font-size: 2.78rem;
    position: relative;

    &:hover {
      opacity: 0.9;
    }

    &::before {
      position: relative;
      z-index: 1;
    }

    &::after {
      content: "";
      background-color: #ffffff;
      width: 1.5rem;
      height: 1.2rem;
      position: absolute;
      left: 0.8rem;
      top: 0.8rem;
    }
  }
}

.sorting-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 0 0;
}

.hide {
  display: none;
}

.user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  position: absolute;
  right: 0;
  top: 0.5rem;
}
